/* Login.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    width: 100%;
    justify-content: flex-end;
  }

  .login-section {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
  }

.top-image{
  width: 515px;
  position: absolute;
  bottom: 0px;
  left: 170px;
  right: bottom;
}
  @media (max-width: 768px) {
    .top-image {
      width: 200px;
      left: 420px;
      bottom: 300px;

    }
  }
  @media (max-width: 576px) {
    .top-image {
      width: 150px;
      left: 260px;
      bottom: 50px;
    }
  }

.main {
  width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  display: flex; 
  justify-content: center;
  max-width: 100%;
}
/* @media (max-width: 768px) {
  .main {
  }
} */
  @media (max-width: 576px) {
    .main {
      width: 100%;
      padding: 35px;
    }
  }

.login-content {
  background-color: #ffffff;
  padding: 2.5%;
  width: 25%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: 6.5%;
  position: absolute; 
}
  @media (max-width: 768px) {
    .login-content {
      width: 52%;
      padding: 35px;
    }
  }

  @media (max-width: 576px) {
    .login-content {
      width: 52%;
      padding: 35px;
    }
  }
    
.login-title {
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
  @media (max-width: 576px) {
    .login-title {
      font-size: 14px;
    }
  }
  
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.form-group {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
}
  @media (max-width: 576px) {
    .form-group {
      font-size: 14px;
    }
  }
  
  .login-input {
    border: none;
    border-bottom: 1px solid #f28e13; /* Color de la línea */
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

  }
  
.password-option{
  padding: 10px;
  font-size: 12px;
  color: rgb(97, 97, 97);
  text-align: left;
}

.login-button {
  padding: 7px;
  text-align: center;
  background-color: #f28e13;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Transición suave al hacer hover */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  transform: scale(1.05);
}

.register-option{
  /* padding: 50px; */
  font-size: 12px;
  color: rgb(97, 97, 97);
  text-align: center;
}

.link{
  color: blue;
}

 /*Estilo del popup de inicio de sesión incorrecto*/
.incorrect-login {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2.5%;
  width: 25%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #f28e13;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

/* Estilo del popup de inicio de sesión exitoso */
.successful-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #80ff80;
  padding: 20px;
  border: 1px solid #40ff40;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}